<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阅读页</title>
    <link rel="stylesheet" href="../css/read_css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet" />

</head>

<body style="background-color: #FEDFE1">

<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="./">阅读小说网</a>

            <div class="nav-collapse">

                <ul class="nav pull-right">

                    <li class="">

                        <a href="javascript:;"> Back to Homepage</a>
                    </li>
                </ul>

            </div> <!-- /nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->

<div class="id">
    <ul>
        <li>
            <img src="../img/bg1.jpg" alt="">
            <ol>
                <li><a href="#">序章</a></li>
                <li><a href="#">第一章</a></li>
                <li><a href="#">第二章</a></li>
                <li><a href="#">第三章</a></li>
                <li><a href="#">第四章</a></li>
                <li><a href="#">第五章</a></li>
                <li><a href="#">第六章</a></li>
                <li><a href="#">第七章</a></li>
                <li><a href="#">第九章</a></li>
                <!--所有章节-->
            </ol>
        </li>
    </ul>
</div>

<div class="containner">

    <div class="content">
        <span>章节名</span>
        <!--书的内容-->
        <p>现在我可以坦白承认了，我这一辈子，一直是个容易上当的家伙。在记忆所及的岁月里，我总是容易被小贩、筹款人、这样那样的运营商当成好捏的柿子。是的，这些人里只有一部分动机不大光彩，其他人——比如慈善机构的代表——都有着崇高的目的。我发现自己老是会订些根本不想要的杂志，或是买下环卫工人舞会的门票——这种事情出现的频率之高，让我自己都感到吃惊。兴许，我这种一贯的傻瓜蛋状态，解释了我为什么会对研究顺从性感兴趣：到底是什么因素让一个人向另一个人说了“行”？哪些技术能最有效地利用这些因素，带来这样的顺从性？我想搞清楚，为什么相同的请求，按某种方式说出来会遭到拒绝，稍微换种方式说就会一帆风顺呢？</p>
        <p>所以，我干上了实验社会心理学这一行，开始研究顺从心理学。起初，研究大多以实验的形式开展，基本上在我的实验室里进行，受试的则是大学生。我想找出是哪些心理原则影响了人们顺从一个要求的倾向性。现在，对于这些原则有哪些，它们如何发挥作用，心理学家已经有了很多认识。我认为这些原则是影响力武器的特点，并将在本书中讨论其中最重要的一些。</p>
        <p >过了一段时间，我逐渐意识到：实验工作，尽管必要，但还不够。一旦走出心理学大楼，走出我研究它们的校园，我就没办法靠实验来判断这些原则在真实世界里有多重要了。很明显，要想彻底了解顺从心理，我得扩大自己的调查范围。我需要去观察专门利用顺从心理的职业老手，也就是套用这些原则左右了我一辈子的那些人。他们知道哪些原则可行，哪些不可行，优胜劣汰的生存法则保证了这一点。他们的生计就是让我们顺从，他们是靠这一套吃饭的。不知道怎么才能让别人顺从的人很快就会消失，而做得到的人则能留下来，把买卖搞得风生水起。</p>
        <p>当然了，了解并利用这些原则帮助自己的人，不光只有上述那些专业人士。在跟邻居、朋友、爱人和其他家人进行日常交往的过程中，我们或多或少地都会用到它们，或是成了它们的受害者。但哪些原则最管用，我们普通人只有些模模糊糊、不上道的认识，以要求他人顺从为业的专家们却懂得更多。我仔细想了想，要了解哪些顺从原则对我适用，他们是最丰富的信息源了。于是，近三年来，我把自己的实验研究跟一个更有趣的项目结合起来：我系统化地让自己深入顺从专家——销售员、筹款家、广告商等的世界。</p>
        <p>我的目的是从内部观察诸多顺从业者最常使用且效果最好的技术和策略。在这一观察项目的实施过程中，我有时是访问从业者本人，有时则是调访某些从业者的天敌（例如，警方的反诈骗调查人员、消费者权益保护机构等），还有些时候，是对一代代传承顺从技术的书面资料——如销售手册等——进行大范围的检验。</p>
        <p>不过，我们最常采用的形式还是参与式观察（participant observation）。参与式观察是一种由研究人员充当各种间谍的调研方法，调查员利用一个伪装的身份，捏造一套意图，渗入感兴趣的环境，成为所调查群体的一员。所以，要是我想了解百科全书（或真空吸尘器、肖像摄影、舞蹈课）销售组织的顺从手法，我会根据报纸上招聘销售实习生的广告去应征，直接让他们教给我方法。通过这些类似但不尽相同的办法，我得以渗透到广告、公共关系和筹款机构内部去考察其技术。故此，这本书里列举的许多证据，都来自我的亲身体验：在各类致力于让你点头称是的组织里假冒顺从专家或心怀远大抱负的专业人士。</p>
        <p>我在这三年参与式观察时期掌握的一些信息最有启发意义。尽管顺从执业者使用上千种不同的策略让人顺从，可绝大部分策略都可分为六个基本类型。每一类型都是从一种能指导人们行为的基本心理原则里衍生出来的，正因为如此，这些策略就具有了左右人们行为的力量。本书内容围绕这六大原则展开，我从每一原则（分别是互惠，承诺和一致，社会认同，喜好，权威，稀缺）的社会功能来讨论它们，看看顺从专家们如何将其整合到购买、捐赠、让步、选举或赞成等请求之中，使之发挥出巨大的力量。</p>
        <p>最后，每一原则均能使人产生出不同的自动、无意识的顺从（即一种不先思考就答应的意愿），我会从这个角度来检验它们。有证据表明，现代社会日益加快的步伐和大量信息带来的冲击，会使这一特殊形式的无意识顺从在将来变得愈发普遍。故此，理解无意识影响是怎么一回事，为什么会这样，对当今社会来说也日益重要了。</p>
        <p>距《影响力》的上一次出版已经有些时日了，在此期间发生的一些事情，有必要补充到这个新版本当中。我们现在对影响过程比从前有了更为深入的认识，对说服、顺从和改变的研究有了新进展，相关内容亦依此做了更新。除了对素材做整体上的更新之外，我还特别注意升级了对流行文化和新技术的涵盖，同时收录了有关跨文化社会影响力的研究，即在不同的人类文化中，影响过程如何以类似或不同的方式运作。</p>
        <p >我还扩充了一个环节，它是先前读者的反馈让我想到的。这个环节的内容来自之前读了《影响力》的读者，他们意识到某个原则在特定的情况下怎样对（或为）自己发挥了作用，并写信告诉我具体情况。他们的描述（即每一章的“读者报告”）说明，在日常生活里，我们是多么容易又多么频繁地成为影响过程的“受害者”。</p>
        <p >我想感谢为之前版本的“读者报告”做出贡献的人——他们有些是直接跟我联系的，有些是通过自己的课程导师跟我联系的：帕特•鲍勃斯（Pat Bobbs）、马克•黑斯廷斯（Mark Hastings）、詹姆斯•迈克尔斯（James MichaeIs）、保罗•内尔（PauI R.NaiI）、艾伦•雷斯尼克（AIan J.Resnik）、达里尔•雷茨拉夫（DaryI RetzIaff）、丹•斯威夫特（Dan Swift）和卡拉•瓦斯克斯（KarIa Vasks）。</p>
        <p >我还想邀请新读者提供类似的“报告”，说不定下一次再版时用得着。信件可以寄到：Department of PsychoIogy, Arizona State University, Tempe, AZ 85287-1104。</p>
        <div style="padding-top:50px">
            <a href="#"><button class="button">上一章</button></a>
            <a href="#"><button class="button" sytle="padding-left: 50px">下一章</button></a>
        </div>
    </div>

</div>



</body>
</html>